<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="logs"/>
	<property name="appName" value="riha-storage"/>
	<appender name="FILEJSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${appName}.json.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${appName}.%d{yyyy-MM-dd}.%i.json.log</fileNamePattern>
			<maxHistory>14</maxHistory>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>
	<logger name="com" level="WARN">
		<appender-ref ref="FILEJSON"/>
	</logger>
	<logger name="io" level="WARN">
		<appender-ref ref="FILEJSON"/>
	</logger>
	<logger name="org" level="WARN">
		<appender-ref ref="FILEJSON"/>
	</logger>
	<logger name="javax" level="WARN">
		<appender-ref ref="FILEJSON"/>
	</logger>
	<logger name="springfox" level="WARN">
		<appender-ref ref="FILEJSON"/>
	</logger>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<!-- <jmxConfigurator /> -->

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
<!-- 			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern> -->
			<pattern>%-5level %logger{36}: %msg%n</pattern>
<!-- 			<outputPatternAsHeader>true</outputPatternAsHeader> -->
		</encoder>
	</appender>

<!-- 	<logger name="com.mycompany.myapp" level="debug" /> -->
	<logger name="org.springframework" level="warn" />
	<logger name="org.hibernate" level="warn" />

<!-- 	<logger name="org.springframework.beans" level="debug" /> -->

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="FILEJSON"/>
	</root>
</configuration>
